
table.mat-table {
    border-spacing: 0;
    width: 100%;
}

.table-heading{
    font: size 30px !important;
    color: black;
    border-bottom: black solid 5px;
}

.mat-header-cell {
    font-size: 20px;
    font-weight: 500;
}