<form (ngSubmit)="onSubmit()" #plantTypeForm="ngForm" class="example-form">
  <div div fxLayout="row" fxLayoutAlign="start center">
    <h2 *ngIf="plantType.id; else changePlant">Change your {{plantType.name}}</h2>
    <ng-template #changePlant>
      <h2>Add a plant type</h2>
    </ng-template>
    <fa-icon [icon]="faTree" class="icon-plant"></fa-icon>
    <mat-icon class="icon-clear" routerLink="/planttypes">clear</mat-icon>
  </div>

  <mat-form-field class="example-full-width">
    <input
      [(ngModel)]="plantType.name"
      name="name"
      matInput
      placeholder="plant type"
      class="input  mat-headline"
    />
  </mat-form-field>

  <div fxLayout="row wrap" fxLayoutAlign="start center">
    <label id="moist" class="legend">
      moist:
    </label>
    <div fxFlex="noshrink nogrow">
      <mat-slider
        thumbLabel
        max="100"
        min="1"
        [(ngModel)]="plantType.moist"
        name="moist"
      ></mat-slider>
    </div>
    <div fxFlex="10" class="paramValue">{{ plantType.moist }} RH</div>
    <div class="icons">
      <drop-maker *ngIf="plantType.moist" [moistValue]="plantType.moist"> </drop-maker>
    </div>
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="start center">
    <label id="sun" class="legend">
      sun:
    </label>
    <div fxFlex="noshrink nogrow">
      <mat-slider
        thumbLabel
        max="100"
        min="1"
        [(ngModel)]="plantType.light"
        name="light"
      ></mat-slider>
    </div>
    <div fxFlex="10" class="paramValue">{{ plantType.light }} CD</div>
    <div class="icons">
      <sun-maker *ngIf="plantType.light" [sunValue]="plantType.light">
      </sun-maker>
    </div>
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="start center">
    <label id="frost" class="legend">
      min temp:
    </label>
    <div fxFlex="noshrink nogrow">
      <mat-slider
        thumbLabel
        max="50"
        min="-50"
        [(ngModel)]="plantType.minTemp"
        name="frost"
      ></mat-slider>
    </div>
    <div fxFlex="10" class="paramValue">{{ plantType.minTemp | toCelcius }}</div>
    <div class="icons">
      <frost-maker *ngIf="plantType.minTemp" [frostValue]="plantType.minTemp">
      </frost-maker>
    </div>
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="start center">
    <label id="fire" class="legend">
      max temp:
    </label>
    <div fxFlex="noshrink nogrow">
      <mat-slider
        thumbLabel
        max="50"
        min="0"
        [(ngModel)]="plantType.maxTemp"
        name="fire"
      ></mat-slider>
    </div>
    <div fxFlex="10" class="paramValue">{{ plantType.maxTemp | toCelcius }}</div>
    <div class="icons">
      <fire-maker *ngIf="plantType.maxTemp" [fireValue]="plantType.maxTemp">
      </fire-maker>
    </div>
  </div>
  <div *ngIf="plantType.id; else newBtn">
    <button (click)="edit(plantType)" mat-fab class="add-btn">
      <mat-icon>edit</mat-icon>
    </button>
    <button (click)="delete(plantType)" mat-fab>
        <mat-icon>delete</mat-icon>
      </button>
  </div>
  <ng-template #newBtn>
    <button  mat-fab class="add-btn">
      <mat-icon>add</mat-icon>
    </button>
  </ng-template>
</form>
