label{
  font-size: 25px;
  padding-left: 23px;
}

.example-form {
  min-width: 150px;

  width: 100%;
  background-color: #41941f26;
  margin:auto;
}

.example-full-width {
  width: 45%;
}

.mat-slider {
  width: 300px;
}

.legend {
  width: 120px;
}

.icons {
  width: 150px;
  padding-left: 23px;
}

.button-style{
  margin-left: 15px;
  border-radius: 5px;
  padding: 8px 23px;
  border: none;
  background-color:#3f5f08f0;
  color: white;
  cursor:pointer;
}
.input{
  width: 40%;
}
.paramValue{ 
  text-align: center;
}

.icon-plant{
  font-size: 42px;
  padding: 0 1px 5px 10px;
  color: #3f5f08f0;
}
::ng-deep .mat-input-wrapper{
  width:10px !important;
}

h2{
  padding: 0 0 0 20px;
  font-size: 34px;
}
.icon-clear{
  padding-left: 31%;
  cursor:pointer;
}