<form (ngSubmit)="onSubmit()" #plantTypeForm="ngForm" class="example-form">
  <mat-form-field class="example-full-width">
    <input [(ngModel)]="plantType.name" 
      name="name" 
      matInput 
      placeholder="Add a plant type" 
      />
  </mat-form-field>

  <div fxLayout="row wrap" fxLayoutAlign="start center">
    <div id="moist" class="legend">
      moist:
    </div>
    <div fxFlex="noshrink nogrow">
      <mat-slider
        thumbLabel
        max="100"
        min="1"
        (input)="pitchMoist($event)"
      ></mat-slider>
    </div>
    <div fxFlex="10"></div>
    <div class="icons">
      <drop-maker *ngIf="moistValue" [moistValue]="moistValue"> </drop-maker>
    </div>
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="start center">
    <div id="sun" class="legend">
      sun:
    </div>
    <div fxFlex="noshrink nogrow">
      <mat-slider
        thumbLabel
        max="100"
        min="1"
        (input)="pitchSun($event)"
      ></mat-slider>
    </div>
    <div fxFlex="10"></div>
    <div class="icons">
      <sun-maker *ngIf="sunValue" [sunValue]="sunValue" class="sun">
      </sun-maker>
    </div>
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="start center">
    <div id="frost" class="legend">
      min temp:
    </div>
    <div fxFlex="noshrink nogrow">
      <mat-slider
        thumbLabel
        max="50"
        min="-50"
        (input)="pitchFrost($event)"
      ></mat-slider>
    </div>
    <div fxFlex="10"></div>
    <div class="icons">
      <frost-maker *ngIf="frostValue" [frostValue]="frostValue" class="frost">
      </frost-maker>
    </div>
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="start center">
    <div id="fire" class="legend">
      max temp:
    </div>
    <div fxFlex="noshrink nogrow">
      <mat-slider
        thumbLabel
        max="50"
        min="0"
        (input)="pitchFire($event)"
      ></mat-slider>
    </div>
    <div fxFlex="10"></div>
    <div class="icons">
      <fire-maker *ngIf="fireValue" [fireValue]="fireValue" class="fire">
      </fire-maker>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" style="margin-top:30px">
    <button type="submit" class="button-style" >CREATE</button>
  </div>
</form>
