<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Plant name" />
  </mat-form-field>

  <div fxLayout="row" fxLayoutAlign="start center">
    moist:
    <div id="moist">
      <mat-slider
        thumbLabel
        max="100"
        min="1"
        (input)="pitchMoist($event)"
      ></mat-slider>
  </div>
    <drop-maker *ngIf="moistValue" [moistValue]="moistValue" class="drops"> </drop-maker>
  </div>

  <div fxLayout="row" fxLayoutAlign="start center">
      sun:
      <div id="sun">
        <mat-slider
          thumbLabel
          max="100"
          min="1"
          (input)="pitchSun($event)"
        ></mat-slider>
    </div>
      <sun-maker *ngIf="sunValue" [sunValue]="sunValue" class="sun"> </sun-maker>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center">
        min temp:
        <div id="frost">
          <mat-slider
            thumbLabel
            max="50"
            min="-50"
            (input)="pitchFrost($event)"
          ></mat-slider>
      </div>
        <frost-maker *ngIf="frostValue" [frostValue]="frostValue" class="frost"> </frost-maker>
      </div>
    
</form>
