<mat-card
  fxLayout.gt-sm="row wrap"
  fxLayout.xs="column"
  fxLayoutAlign="start end"
  class="padding"
>
  <form (ngSubmit)="onSubmit()" #plantForm="ngForm" fxFlex="60">
    <div div fxLayout="row" fxLayoutAlign="start center">
      <h2>Plant Detail</h2>
      <fa-icon [icon]="faLeaf" class="icon-leaf"></fa-icon>
      <mat-icon class="icon-clear" routerLink="/home">clear</mat-icon>
    </div>
    <label>Name:</label>
    <input [(ngModel)]="plant.name" name="name" class="block" />
    <mat-label>Type:</mat-label>
    <mat-select
      *ngIf="plant.type"
      [placeholder]="plant.type.name"
      (selectionChange)="selectType($event)"
      name="plantTypeList"
    >
      <mat-option
        *ngFor="let plantType of plantTypeList"
        [value]="plantType.name"
      >
        {{ plantType.name }}
      </mat-option>
    </mat-select>

    <label>Location:</label>
    <mat-select
      *ngIf="plant.room"
      [placeholder]="plant.room.name"
      (selectionChange)="selectRoom($event)"
      name="roomsList"
    >
      <mat-option *ngFor="let room of roomsList" [value]="room.name">
        {{ room.name }}
      </mat-option>
    </mat-select>

    <div fxLayout="row" fxLayoutAlign="start center" style="margin-top:30px">
      <button type="submit" class="button-style">Save</button>
      <mat-icon (click)="deletePlant()" class="icon-garbage">delete</mat-icon>
    </div>
  </form>
  <ng-template [ngIf]="plant.imageUrl" [ngIfElse]="defaultIcon" fxFlex="40">
    <div fxFlex="40">
      <div style="width:50%; height:50%">
        <img [src]="plant.imageUrl" width="200px" height="200px" />
      </div>
      <h3>Image Upload</h3>
      <input type="file" (change)="onFileSelected($event)" />
      <button (click)="onUpload()">upload</button>
    </div>
  </ng-template>
  <ng-template #defaultIcon>
    <div fxFlex="40">
      <fa-icon [icon]="faImage" class="default-icon"></fa-icon>
      <h3>Image Upload</h3>
      <input type="file" (change)="onFileSelected($event)" />
      <button (click)="onUpload()">upload</button>
    </div>
  </ng-template>
</mat-card>


<mat-card
  fxLayout.gt-md="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign="center center"
  class="gauges-group padding"
>
  <ngx-gauge
    class="gauges"
    [type]="gaugeType"
    cap="round"
    [max]="waterGauge.max"
    thick="10"
    [value]="plant.water"
    [label]="waterGauge.label"
    [append]="waterGauge.text"
  >
  </ngx-gauge>
  <ngx-gauge
    class="gauges"
    [type]="gaugeType"
    cap="round"
    [max]="lightGauge.max"
    thick="10"
    [value]="plant.light"
    [label]="lightGauge.label"
    [append]="lightGauge.text"
  >
  </ngx-gauge>
  <ngx-gauge
    class="gauges"
    [type]="gaugeType"
    cap="round"
    [max]="tempGauge.max"
    [min]="tempGauge.min"
    thick="10"
    [value]="plant.temp"
    [label]="tempGauge.label"
    [append]="tempGauge.text"
    [thresholds]="tempThreshold"
  >
  </ngx-gauge>
</mat-card>
