canvas{
    width: 100%;
    height: 100%;
    background: green;
    margin: 50px;
}

label{
    display:block;
}

.list{
    background: yellow
}
.listItem{
    background: grey;
    opacity: .9;
    width: 30%;
    margin: 5px;
}