<mat-card>

  <div fxLayout="row" fxLayoutAlign="center center" class="locate">
      <h2>Locate your plants in the room</h2>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" class="padding">
    <form (ngSubmit)="onSubmit()" #plantForm="ngForm" fxFlex="50">
      <div div fxLayout="row" fxLayoutAlign="start center">
        <h2>Room Detail</h2>
      </div>
    </form>
    <div class="list" fxFlex="50">
      
      <ul> 
        <li
        *ngFor="let plant of availablePlants; let index = index" 
        class="listItem bg-green"
        draggable="true"
        (dragstart)="drag($event, index)">
              {{ plant.name }}
        </li>
    </ul>
  </div>
  </div>
</mat-card>
<!-- <mat-icon class="icon-clear" routerLink="/home">clear</mat-icon> -->

<img [src]="room.imageUrl">
<table >
  <tr *ngFor="let row of location.positions; let rowIndex = index">
    <td
    *ngFor="let item of row; let colIndex = index"
    (drop)="drop($event, colIndex, rowIndex)"
    (dragover)="allowDrop($event)"
    >
    <div *ngIf="item !== 'null'" >
        <div fxLayout="row" fxLayoutAlign="start center" >
      <fa-icon fxFlex="25" [icon]="faMapMarkerAlt" class="marker"></fa-icon>
      <mat-icon fxFlex="20" class="icon-clear"  (click)="remove($event, colIndex, rowIndex)">clear</mat-icon>
        </div>
      <div>{{item.name}}</div>
     </div> 
    </td>
  </tr>
</table>
   
  
