<div class="list">
  <ul>
    <li
      *ngFor="let plant of plantList; let index = index"
      class="listItem"
      draggable="true"
      (dragstart)="drag($event, index)"
    >
      {{ plant.name }}
    </li>
  </ul>
</div>
<button (click)=save()>Save Locations</button>
<table>
  <tr *ngFor="let row of location.positions; let rowIndex = index">
    <td
      *ngFor="let item of row; let colIndex = index"
      (drop)="drop($event, colIndex, rowIndex)"
      (dragover)="allowDrop($event)"
    >
     <div *ngIf="item !== 'null'" class="droppoint">{{item.name}}</div> 
    </td>
  </tr>
</table>
