.planttypelist {
  width: 100%;
  margin: 5px;
  padding: 0px;
}
.planttype {
  list-style-type: none;
  width: 97%;
  padding-bottom: 2px;
}
.plantListHeader{
  width: 97%;
  margin: 5px;
}
.emptyPage{
  height: 50px;
}
.add-btn{
  float: right;
  margin: 15px 15px;
}
.badge {
  text-align: left;
  justify-content: left;
  padding: 10px;
}
.name {
  font-weight: bolder;
}