<div fxLayout.gt-sm="row" fxLayout.xs="column" fxLayoutAlign="start center">
  <h2 fxFlex="20">Defined Plant Types</h2>
  <mat-form-field class="example-full-width">
    <input matInput [(ngModel)]="searchFilter" />
  </mat-form-field>
  <button
    mat-fab
    class="btn"
    (click)="onfilter($event)"
    aria-label="filter"

    noshrink
    nogrow
  >
    <mat-icon>search</mat-icon>
  </button>
</div>
<mat-card
  fxLayout="row"
  fxLayoutAlign="space-between center"
  class="plantListHeader"
>
  <span fxFlex="20" class="badge">Plant Type Name</span>
  <span fxFlex="20" class="badge">Water</span>
  <span fxFlex="20" class="badge">Sun</span>
  <span fxFlex="20" class="badge">min Temp</span>
  <span fxFlex="20" class="badge">max Temp</span>
</mat-card>
<ul *ngIf="plantTypeList.length > 0; else emptyPage" class="planttypelist">
  <li class="planttype" *ngFor="let item of printList">
    <mat-card
      (click)="onRowClicked(item.id)"
      fxLayout.gt-xs="row"
      fxLayout="column"
      fxLayoutAlign="space-between center"
    >
      <span fxFlex.gt-xs="20" class="badge name">
        {{ item.name }}
      </span>
      <span fxFlex.gt-xs="20" class="badge">
        <span fxHide.gt-xs class="badge">water:</span>
        {{ item.moist }} RH
        <drop-maker
          *ngIf="item.moist"
          [moistValue]="item.moist"
          fxLayout.xs="row inline"
        >
        </drop-maker>
      </span>
      <span fxFlex.gt-xs="20" class="badge">
        <span fxHide.gt-xs class="badge">sun:</span>
        {{ item.light }} CD
        <sun-maker
          *ngIf="item.light"
          [sunValue]="item.light"
          fxLayout.xs="row inline"
        >
        </sun-maker>
      </span>
      <span fxFlex.gt-xs="20" class="badge">
        <span fxHide.gt-xs class="badge">min temp:</span>
        {{ item.minTemp | toCelcius }}
        <frost-maker
          *ngIf="item.minTemp"
          [frostValue]="item.minTemp"
          fxLayout.xs="row inline"
        >
        </frost-maker>
      </span>
      <span fxFlex.gt-xs="20" class="badge"
        ><span fxHide.gt-xs class="badge">max temp:</span
        >{{ item.maxTemp | toCelcius }}
        <fire-maker
          *ngIf="item.maxTemp"
          [fireValue]="item.maxTemp"
          fxLayout.xs="row inline"
        >
        </fire-maker>
      </span>
    </mat-card>
  </li>
</ul>

<ng-template #emptyPage class="emptyPage">
  <p>Please add some plants</p>
</ng-template>
<button mat-fab class="btn" routerLink="/planttypes/new">
  <mat-icon>add</mat-icon>
</button>
