<mat-card
  
>
<form (ngSubmit)="onSubmit()"  class="form-global">
  <div div fxLayout="row" fxLayoutAlign="start center">
    <h2>Add a plant</h2>
    <fa-icon [icon]="faSeedling" class="icon-plant"></fa-icon>
    <mat-icon class="icon-clear" routerLink="/home">clear</mat-icon>
  </div>
  <label>Name:</label>
  <input [(ngModel)]="plant.name" name="name" class="block" />
    <mat-label>Type:</mat-label>
    <mat-select (selectionChange)="selectType($event)" name="plantTypeList">
        <mat-option *ngFor="let plantType of plantTypeList" [value]="plantType">
            {{plantType.name}}
          </mat-option>
    </mat-select>
  <label>Location:</label>
  <mat-select (selectionChange)="selectRoom($event)" name="room">
      <mat-option *ngFor="let room of roomsList" [value]="room">
          {{room.name}}
        </mat-option>
  </mat-select>
  <div fxLayout="row" fxLayoutAlign="start center" style="margin-top:30px">
    <button type="submit" class="button-style">CREATE</button>
  </div>
</form>
</mat-card>
