.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  color: white;
 
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background: url(../../assets/images/leaves.jpg);
  background-size: cover;
  justify-content: center;
  opacity: .6;
}

img{
  width:17%;
}


