.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: lightgreen;
  color: white;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: green;
  justify-content: center;
}

img{
  width:17%;
}


