/* You can add global styles to this file, and also import other style files */
h1
  font-family: 'Alegreya Sans', sans-serif
  text-align: center

  input
    display: block

  
*
  font-family: 'Alegreya Sans', sans-serif
    font-weight:400

.mat-select-value
  color: white
  padding-left: 12px
  margin-bottom: 16px


.mat-select-arrow
    width: 0
    height: 0
    border-left: 5px solid transparent
    border-right: 5px solid transparent
    border-top: 5px solid
    margin: 0 4px
    color: white



mat-select
  margin-bottom: 16px