/* You can add global styles to this file, and also import other style files */
h1
  font-family: 'Alegreya Sans', sans-serif
  text-align: center

h2 
  margin: 0

  input
    display: block

*
  font-family: 'Alegreya Sans', sans-serif
  font-weight: 400

body
  margin: 0

.content
  box-sizing: border-box
  background-color: #8fbc8f42
  min-height: calc(100vh - 84px)

  // forms

.mat-select-value
  color: white
  padding-left: 12px
  margin-bottom: 16px

.mat-select-arrow
  width: 0
  height: 0
  border-left: 5px solid transparent
  border-right: 5px solid transparent
  border-top: 5px solid
  margin: 0 4px
  color: white

mat-select
  margin-bottom: 16px

  // buttons

.btn
  background-color: #3f5f08f0 !important
  float: right
  margin: 15px 15px

.add-btn
  background-color: #3f5f08f0 !important
  float: right
  margin: 15px 15px

.mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label, .mat-accent .mat-slider-track-fill
  background-color: #3f5f08f0 !important

.actions .action-button
  height: 40px
  background-color: #8fbc8f42

.account-circle
  margin-top: 40px
  height: 80px !important
  width: 80px !important