
<form class="form-global" (ngSubmit)="onSubmit()">
    <h2>Add a new room</h2>
    <label>Name:</label>
    <input [(ngModel)]="room.name" name="name" class="block"/>
    <div class="padding">
      <ng-template [ngIf]="room.imageUrl" [ngIfElse]="defaultIcon">
        <div fxFlex="40">
          <div style="width:50%; height:50%">
              <img [src]="room.imageUrl" width="200px" height="200px" />
            </div>
            <h3>Upload your </h3>
            <input type="file" (change)="onFileSelected($event)" />
            <button (click)="onUpload()">upload</button>
          </div>
        </ng-template>
        <ng-template #defaultIcon>
          <div fxFlex="40">
            <fa-icon [icon]="faImage" class="default-icon"></fa-icon>
            <h3>Upload your floorplan</h3>
            <input type="file" (change)="onFileSelected($event)" />
            <button (click)="onUpload()" class="button-style" > upload</button>
          </div>
        </ng-template>
      </div>
      <button class="button-style" type="submit">create</button>
    </form>
        

