h2{
  padding: 0 0 0 20px;
  font-size: 34px;
}

label{
  font-size: 25px;
  padding-left: 23px;
}

.padding{
  padding: 0 0 0 23px
}

.default-icon{
    font-size: 155px;
    color: #3f5f08f0;
  }

.block{
    display: block;
    width: 72%;
    margin: 16px;
    border: white solid 1px;
    line-height: 27px;
    padding-left: 12px;
    color: white;
    background: #0e4614c7;
    opacity: .7;
    border-radius: 20px;
    font-size: 17px;
    @media screen and (min-width: 768px)
    {
      display: block;
      width: 30%;
      margin: 16px;
      border: white solid 1px;
      line-height: 27px;
      padding-left: 12px;
      color: white;
      background: #0e4614c7;
      opacity: .7;
      border-radius: 20px;
      font-size: 17px;

    }
      
    
}

.form-global{
  background-color: #41941f26;
  padding: 50px;
  
}

.button-style{
  margin: 20px 0 0 23px;
  border-radius: 5px;
  padding: 8px 23px;
  border: none;
  background-color:#3f5f08f0;
  color: white;
  cursor:pointer;
  &:hover{
    opacity:.9
  }
}